* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.light {
    background-color: #f0d9b5;
}

.dark {
    background-color: #b58863;
}

